body {
    font-family: Arial, sans-serif;
}
/*------------------------------------МЕНЮ_ШАПКА-------------------------------------*/
nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo p {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    font-weight: 800;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
.menu {
    float: left;
    margin-left: 432px;
}
.menu li {
    float: left;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.menu li a {
    transition: all 0.2s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: orange;
}
.menu li a:active {
    transform: scale(1.2);
}
@keyframes comming {
    0% {
        /*opacity: 0;*/
        color: #D66400;    
    }
    20% {
        color: #FAE400;
    }
    40% {
        color: #4EFF01;
    }
    60%{
        color: #00FFFF;
    }
    80%{
        color: #F900BE;
    }
    100%{
        color: #FA4E00;
    }
}
@keyframes topshift {
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
/*----------------------------------------"Loader"-----------------------------------*/
.spinner {
    height: 50px;
    width: 50px;
    border-left: 3px solid greenyellow;
    border-bottom: 3px solid greenyellow;
    border-right: 3px solid greenyellow;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}
 
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
 
    to {
        transform: rotate(360deg);
    }
}
/*------------------------------------1_Блок"Привет"-------------------------------------*/
.main {
    width: 100%;
    height: 100%;
    /*height: calc(100% - 60px);*/
    background: url(../img/boy.png) 90% 100%/auto 85%  no-repeat  , url(../img/bg.png) center/cover no-repeat;    
}
.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 2s ease forwards ;
    -o-animation: titlemove 2s ease forwards ;
    animation: titlemove 2s ease forwards ;
    -webkit-animation-delay:2.2s;
    -o-animation-delay:2.2s;
    animation-delay:2.2s;  
} 
.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}
.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #344051;
    background: none;
    border-radius: 5px;
    color: #344051;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}
@keyframes titlemove {
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to {
        margin-left: 404px;
        opacity: 1;
    }
}
.title__container input {
    transition: all 0.2s;
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.2)
}
/*-------------------------------------2_Блок"Обо_Мне"--------------------------------*/
.about_me {
    background-color: #edeef3;
    width: 100%;
    height: 718px;
}
.title__container2 {
    text-align: center;
}
.title__container2 h2 {
    padding-top: 110px;
    padding-bottom: 94px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}
.title__container2 { 
    text-align: center;
    color: #263244
}
.title__container2 p {
    padding-top: 24px;
}
.title__container2 input {
    height: 34px;
    text-align: center;
    border: 2px solid #344051;
    background: none;
    border-radius: 5px;
    color: #344051;
    font-size: 13px;
    padding: 0px 13px;
    margin-top: 36px;
    margin-bottom: 98px;
}
.text_block1 {
    text-align: left;
    padding: 0px 300px;
}
.title__container2 input {
    transition: all 0.2s;
}
.title__container2 input:hover{
    background: #344051;
    color: white;
}
.title__container2 input:active{
    transform: scale(1.2)
}
.title__container2 img {
    opacity: 0.3;
}
.title__container2 img:hover{
    opacity: 1;
    transform: rotate(1080deg) scale(6.6);
    transition: all 2s 0.1s ;
}
/*--------------------------------------3_Блок"Что_я_умею"---------------------------------*/
.what_i_can {
    background: url(../img/bg2.png) no-repeat center;
    height: 520px;
}
.title__container3 {
    text-align: center;
}
.title__container3 h2 {
    padding-top: 110px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}
.card {
    display: inline-block;
    width: 256px;
    height: 252px;
    padding-top: 40px;
    margin: 0px 20px;
}
.card_image {
    padding-bottom: 36px;
}
.card_title {
    font-weight: bold;
    color: orange;
    padding-bottom: 20px;
}
.card_text {
}
/*-----------------------------------4_Блок"Кейсы_верхушка"-------------------------------*/
.cases {
    height: 254px;
    width: 100%;
    background-color: #edeef3;
}
.title__container4 h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 108px;
    font-size: 30px;
    text-transform: uppercase;
    color: #263244; 
}
.title__container4 p {
    text-align: center;
    padding-top: 60px;
}
/*-------------------------------------4_Кейсы_низ-------------------------------*/
.cases_bottom {
    height: 964px;
    width: 100%;
    padding-left: 280px;
}
.cases_bottom p{
    padding-top: 2px;
}
.cases_bottom h4 {
    padding-top: 8px;
    font-weight: bold;
    color: #1c2534;
}
.cases_bottom h5 {
    padding-top: 8px;
    font-weight: bold;
    color: #1c2534;
}
.cases_textbox1 {
    display: inline-block;
    width: 288px;
    height: 60px;
    vertical-align: middle;
}
.cases_textbox2 {
    display: inline-block;
    width: 340px;
    height: 60px;
    padding-bottom: 80px;
}
.cases_input {
    height: 44px;
    width: 202px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 0px 42px;
    margin: 24px 0px 0px 0px;
}

.cases_textbox1 input {
    transition: all 0.2s;
}
.cases_textbox1 input:hover{
    background: #63b5ae;
    color: white;
}
.cases_textbox1 input:active{
    transform: scale(1.2)
}
/*----------------------------------------5_Блок"Прайс"-----------------------------------*/
.price {
    height: 788px;
}
.title__container5 h2 {
    padding-top: 220px;
    padding-bottom: 54px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1c2534;
}
.title__container5 h4 {
    font-weight: bold;
    font-size: 20px;
    text-align:left;
    text-transform: uppercase;
    padding: 8px 0px;
    color: #1c2534; 
}
.price_menu {
    height: 622px;
    width: 924px;
    margin: 0px 534px 0px 404px;
    padding-bottom: 160px;
}
select {
    padding: 2px 0px;
    background-color: lightgray;
    width: 890px;
    height: 30px;
    
}
.price_table {
    /*border: 1px solid black;*/
    width: 890px;
    height: 58px;
}
.price_table_number {
    text-align: right;
    font-weight: bold;
}
.price_table_text {
    text-align: left;
    font-weight: bold;
}
/*-------------------------------------6_Блок"Статистика"---------------------------------*/
.statistic {
    background-image: url(../img/statistic_background.png);
    background-position: center;
    width: 100%;
    height: 500px;
}
.title__container6 h2 {
    padding-top: 102px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1c2534;
}
.card2 {
    text-align: center;
    display: inline-block;
    width: 340px;
    height: 252px;
    padding-top: 128px;
    padding-left: 160px;
    margin: 0px 20px;
}
.card_image2 {
    padding-bottom: 34px;
}
.card_title2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #323e4f;
}
.card_text2 {
    font-weight: bold;
    color: #323e4f;
}
.statistic:hover{
    transform: scale(0.8);
    transition: all 10s 0.01s ease;

}
.title__container6:hover{
    transform: scale(1.4);
    transition: all 10s 0.01s ease;
}
/*-------------------------------------7_Блок"Отзывы"-----------------------------------*/
.reviews {
    background-position: center;
    text-align: center;
    height: 592px;
}
.title__container7 h2 {
    padding-top: 104px;
    padding-bottom: 96px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1c2534;
}
.title__container7 p {
    padding: 30px 0px;
}
.title__container7 img:hover{
    opacity: 1;
    transform: rotate(1080deg) scale(6.6);
    transition: all 2s 0.1s ;
}
/*-------------------------------------8_Блок"контакты"----------------------------------*/
.contacts {
    background-image: url(../img/contacts_background.png);
    background-position: center;
    height: 808px;
    width: 100%;   
}
.title__container8 h2 {
    padding-top: 104px;
    padding-bottom: 68px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.title__container8 p {
    text-align: center;
    color: white;
}
.title__container8 h4 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 40px;
}
.card3 {
    text-align: center;
    display: inline-block;
    width: 160px;
    height: 120px;
    padding-top: 44px;
    margin-left: 40px
}
.card_box {
    padding-left: 538px;
}
.card_text3 {
    padding-top: 6px;
}
.name_mail {
    margin-left: 458px;
    
}
.name_mail input {
    height: 36px;
    width: 354px;
    margin-left: 29px;
}
.message {
    margin-left: 486px;
    margin-top: 20px;
}
.button input {
    border: 2px solid white;
    border-radius: 6px;
    height: 30px;
    margin-left: 810px;
    margin-top: 20px;
    background: none;
    color: white;
    text-align: center;
    padding: 0px 16px;
}
.button input:active {
    transition: all 0.2s;
    transform: scale(1.2);
}
.button input:hover {
    background: orange;
    color: #344051;
    border: 2px solid #344051;
}
/*------------------------------------------ПОДВАЛ----------------------------------------*/
footer {
    background-image: url(../img/footer.png);
    background-position: center;
    height: 96px;
}
.footer_text {
    color: white;
    text-align: center;
    padding-top: 42px;
}