body {
    font-family: Arial, sans-serif;
}

/*---ПЕРВЫЙ_БЛОК---*/
nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85%  no-repeat  , url(../img/bg.png) center/cover no-repeat;    
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
} 

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

/*---ВТОРОЙ_БЛОК---*/
.about_me {
    background: url(../img/boy_black.png) center no-repeat , #edeef3;
    width: 100%;
    height: 718px;
}

.title__container2 {
    text-align: center;
}

.title__container2 h2 {
    padding-top: 110px;
    padding-bottom: 94px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.title__container2 p { 
    text-align: center;
    margin-top: 318px;
}

.title__container2 input {
    height: 34px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 13px;
    margin-top: 36px;
    margin-bottom: 34px;
}

/*---ТРЕТИЙ_БЛОК---*/

.what_i_can {
    background: url(../img/bg2.png) no-repeat center;
    height: 524px;
}